<div align = "center">
  <h1> Please upload image by providing a valid image url </h1>
  <% if @image.errors.any? or flash[:error] %>
      <ul>
        <% flash.each do |_key, msg| %>
            <li>
              <%= msg %>
            </li>
            <li><%= link_to 'Upload another image', new_image_path %></li>
        <% end %>
      </ul>
      <% else %>
      <%= form_for @image, url: images_path, class: 'js-image-form' do |img| %>
          <p>
            <%= img.label :url %>
            <%= img.text_area :url %>
          </p>
          <p>
            <%= img.label :tag_list %>
            <%= img.text_area :tag_list %>
          </p>
          <p>
            <%= img.submit %>
          </p>
      <% end %>
  <% end %>
</div>
